global
  log /dev/log  local2 info
  log /dev/log  local1 notice
  chroot /var/lib/haproxy
  stats socket /run/haproxy/admin.sock mode 660 level admin
  stats timeout 30s
  user haproxy
  group haproxy
  daemon

  # Default SSL material locations
  ca-base /etc/ssl/certs
  crt-base /etc/ssl/private

  # Default ciphers to use on SSL-enabled listening sockets.
  # For more information, see ciphers(1SSL).
  ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL
    ssl-default-bind-options no-sslv3

defaults
  log global
  mode  http
  option  httplog
  option  dontlognull
  option  redispatch
  timeout connect 5000
  timeout client  50000
  timeout server  50000

peers haproxy-peers
  peer haproxy-1 192.168.33.11:1024
  peer haproxy-2 192.168.33.12:1024

listen admin
  bind 0.0.0.0:8404
  stats enable
  stats uri /monitor
  stats refresh 5

frontend front-session
  bind 0.0.0.0:81
  option httplog
  default_backend back-session

backend back-session
  balance roundrobin
  hash-type consistent djb2
  stick-table type string len 32 size 1M peers haproxy-peers
  stick on req.cook(JSESSIONID)
  stick store-response res.cook(JSESSIONID)
  option httplog
  option httpchk HEAD /
  server be1 192.168.33.10:8081 check
  server be2 192.168.33.10:8082 check
  server be3 192.168.33.10:8083 check
  server be4 192.168.33.10:8084 check
  server be5 192.168.33.10:8085 check
  server be6 192.168.33.10:8086 check
  server be7 192.168.33.10:8087 check

